*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.752);
}
.appointment{
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
   
    
}
h1{
    background-color: brown;
    text-align: center;
    color: aliceblue;
    width: 100%;
}
input{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    margin: 20px;
    border: none;
    width: 300px;
    outline: none;
    height: 30px;
    padding: 2px;
}
